<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <label for="">Account name</label>
        <input type="text" class="form-control" #accountName>
        <hr>
        <select name="" class="form-control" #accountStatus>
            <option value="active">active</option>
            <option value="inactive">inactive</option>
            <option value="unknown">unknown</option>
        </select>
        <hr>
        <div class="btn btn-primary" (click)="onCreateAccount(accountName.value, accountStatus.value)">Add account</div>
    </div>
</div>