<div class="add-container">
    <mat-select
        placeholder="Filter"
        style="width: 120px;"
        [(ngModel)]="filterType"
        (selectionChange)="onChangeStatus()"
    >
        <mat-option value="title">Title</mat-option>
        <mat-option value="description">Description</mat-option>
    </mat-select>
    <button mat-button color="accent">View tasks in calendar</button>

    <button mat-button color="accent" (click)="onOpenAddTask()">Add new</button>
</div>
<div fxLayout="column" fxLayoutGap="10px">
    <app-task-detail *ngFor="let task of filteredTasks" [task]="task">
    </app-task-detail>
</div>

<div class="add-container">
    <div class="left-side">
        <span>{{filteredTasks.length}} items left</span>
        <span style="margin: 0 5px">|</span>
        <span>{{finishedTasksTotal}} done tasks</span>
    </div>
    <div class="right-side" fxLayout="row" fxFlexAlign="center">
        <mat-radio-group [(ngModel)]="status" (change)="onChangeStatus()">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="doing">Doing</mat-radio-button>
            <mat-radio-button value="finished">Finished</mat-radio-button>
        </mat-radio-group>
    </div>
</div>