<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My shopping list</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
</p>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <app-product-list></app-product-list>
            <hr>
            <app-slider></app-slider>
        </div>
    </div>
</div>