<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-game-control
            (intervalFired)="onChangeNumber($event)"
            >
            </app-game-control>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-odd
            *ngFor="let item of oddNumbers"
            [number]="item"
            >
        </app-odd>
            <app-even
            *ngFor="let item of evenNumbers"
            [number]="item"
            >
        </app-even>

        </div>
    </div>
</div>